<body>
    <div class="container-body">

        <div class="container-profile-picture">
            <img class="profile-picture" src="assets\Images\uli.jpg" alt="Foto de Perfil">
            
            <button class="button-edit-foto" type= button role="button">
                <img class="img-edit" src="assets\Icons\icons\pencil-fill.svg" alt="Boton de edicion" >
            </button>
            

        </div>

        <div class="summary">
            <h3> 
                <b>{{miPortfolio.resumen}}</b> 
            </h3>
            

            <button class="button-edit-resumen" type= button role="button">
                <img class="img-edit" src="assets\Icons\icons\pencil-fill.svg" alt="Boton de edicion" >
            </button>
            
        </div>

        <div class="name">
            <h1>{{miPortfolio.name}}</h1>

           <button class="button-edit-nombre" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <img class="img-edit" src="assets\Icons\icons\pencil-fill.svg" alt="Boton de edicion" >
            </button> 
        </div>

        <div class="paragraph">
            <h3>{{miPortfolio.parrafo}}</h3>
            <button class="button-edit-paragraph" type= button role="button">
                <img class="img-edit" src="assets\Icons\icons\pencil-fill.svg" alt="Boton de edicion" >
            </button>

        </div>
    </div>




</body>