<header>

    <div class="container-left">

        <img class="logo" src="assets\Images\Logo.jpg" alt="Logo Pagina">
        <h3 class="header-logotext">"Argentina Programa" - #YoProgramo</h3>

    </div>

    <div class="container-right">
        <a href="https://twitter.com/UlisesDagos"><img src="assets\Icons\icons\twitter.svg" alt="Logo Twitter" class="social"></a>
        <a href="https://www.instagram.com/eluli.dagos/"><img src="assets\Icons\icons\instagram.svg" alt="Logo Instagram" class="social"></a>
        <a href=""><img src="assets\Icons\icons\whatsapp.svg" alt="Logo Whatsapp" class="social"></a>

        <input class="button-login" type="button" value="LOGIN">

    </div>


</header>