header{
    display: grid;
    background-color: rgb(94, 94, 94);
    grid-template-columns: 1fr 1fr;
        
}

.container-left{
    display: grid;
    grid-template-columns: max-content 1fr;
    
    align-content: center;
    justify-content: center;

    
}

.logo{
    margin: 10px;

    width: 150px;
    border-radius: 100px;

}

.header-logotext{
    display: grid;
    align-content: center;
}

.container-right{
    display: grid;
    grid-template-columns: repeat(3,75px) 40px 0.3fr;
    justify-content: right;
    align-content: stretch;
    align-items: center;
    justify-items: center;

}

.social{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 25px;     
}

.social:hover{
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}

.button-login{
    margin-right: 70px;
    grid-column: 5/6;

    background-color: #0087A8 ;
    border-radius: 5px;
    width: 75px;
    height: 40px;
}

.button-login:hover{
    background-color: #00C6F5 ;
    
}

.container-banner{
    display: grid;
    grid-area: 2/1/3/3;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-content: center;
    
    
    border-radius: 15px;
    background-color: rgb(131, 131, 131);
    width: 95%;

}

.header-banner{
    width:98.5%;
    height: 98%;
    align-self: center;
    justify-self: center;
    z-index: 1;

    border-radius: 15px;
}
