<header>

    <div class="container-left">

        <img class="logo" src="assets\Images\Logo.jpg" alt="Logo Pagina">
        <h3 class="header-logotext">{{pageTitle}}</h3>
        
    </div>

    <div class="container-right">
        <a href="https://twitter.com/UlisesDagos"><img src="assets\Icons\icons\twitter.svg" alt="Logo Twitter" class="social"></a>
        <a href="https://www.instagram.com/eluli.dagos/"><img src="assets\Icons\icons\instagram.svg" alt="Logo Instagram" class="social"></a>
        <a href=""><img src="assets\Icons\icons\linkedin.svg" alt="Logo Whatsapp" class="social"></a>


        <button class="button-login" type= button role="button">LOGIN</button>
        
       <!-- <button class="openbtn" onclick="openNav()">&#9776; Toggle Sidepanel</button>-->

    </div>

    <div class="container-banner">


        <img class="header-banner" src="assets\Images\code-syntax-dark-minimal-4k-mr-1920x1080.jpg" alt="Banner">

        <button class="button-edit" type= button role="button">
            <img class="img-edit" src="assets\Icons\icons\pencil-fill.svg" alt="Boton de edicion" >
        </button>
        
    </div>

</header>