<div class="container-proyecto" *ngIf="data">

    <div class="proyect-title">
        <h3>{{data.titulo}}</h3>
    </div>

    <p class="proyect-paragraph">{{data.descripcion}}</p>

    <!--VER MUESTREO IMAGENEES CON FOR data.imagenes[]-->
    <div class="container-img">
        <img class="imagen" src={{data.imagenes}} alt="Imagen Proyecto">
    </div>

    <hr>


    <button class="button-edit" type= button role="button">
        <img class="img-edit" src="assets\Icons\icons\pencil-fill.svg" alt="Boton de edicion" >
    </button>
    
    <button class="button-delete" type= button role="button">
        <img class="img-edit" src="assets/Icons/icons/x-lg.svg" alt="Boton de edicion" >
    </button>
    
    

</div>