<div class="body">
    <form class="container-login" action=""> <!-- metodos: action (ubicaciion de deonde procesara esta info) y method(POST/GET)-->
        <label class="titulo-login" for="Titulo">BIENVENIDOS</label>

        <label for="Username" class="label label-username" for="Username">Usuario</label>
        <input type="text" id="Username" name="Usuario" title="Ingrese Usuario" value="Usuario" onFocus="if(this.value =='Usuario' ) this.value=''" onBlur="if(this.value==''){ this.value='Usuario'; } else{ this.style.color='#000'; }">

        <label for="Password" class="label label-password" for="Password">Contraseña</label>
        <input type="password" id="Password" name="Password" title="Ingrese Contraseña" value="Contraseña" onFocus="if(this.value =='Contraseña' ) this.value=''" onBlur="if(this.value==''){ this.value='Contraseña'; } else{ this.style.color='#000'; }">

        <button class="button btn btn-success" type="submit" name="Boton" value="Login" (click)=funcion()>Login</button>

    </form>
</div>


