<div class="body">
<form #myForm="ngForm" (ngSubmit)="submit(myForm)" method=""><br><br><br>
    <h1 class="h3 mb-3 fw-normal">Inicio de Sesion
    </h1>

    <div class="form-floating">
      <input type="email" class="form-control" type="text" name="usuario" title="Ingrese Usuario" value="Usuario" #username="ngModel" ngModel>
      <label for="floatingInput">Usuario</label>
    </div><br>
    <div class="form-floating">
      <input type="password" class="form-control" type="password"  name="password" title="Ingrese Contraseña" value="Contraseña" #password="ngModel" ngModel>
      <label for="floatingPassword">Contraseña</label>
    </div><br>


    <div class="input-group mb-3">
      <div class="input-group-prepend ">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">
        </div>
      </div>
      Remember me
    </div><br>
    <button class="w-100 btn btn-m btn-primary" type="submit">Sign in</button>
</form>
   