<div class="container-xp" *ngIf="item">
    <img class="imagen " src="{{item.img}}" alt="Imagen ">
    <h3>{{item.titulo}}</h3>
    <p>{{item.resumen}}</p>
</div>




<button  (click)="modalidachi('modal-1',item.titulo,item.resumen)" class="button-edit-paragraph" type="button" role="button">
    <img class="img-edit" src="assets\Icons\icons\pencil-fill.svg" alt="Boton de edicion" />
  </button>

<button class="button-delete" type= button role="button">
    <img class="img-edit" src="assets/Icons/icons/x-lg.svg" alt="Boton de edicion" >
</button>

<hr>

<div>
    
    <jw-modal id="modal-1">
        <h1>Edicion de campo</h1>
        <p>Texto a editar: <input type="text" [(ngModel)]="titulo" /></p>
        <button (click)="modalService.close();">HACER QUE SEA SAVE</button>
    </jw-modal>
    
  </div>


