<body>
    <div class="container-body">
        <div class="container-education">

            <div class="education-titulo">
                <h2>EXPERIENCIA LABORAL</h2>
            </div>
            
            
            <div class="container-educ">
                <img class="imagen img-1" src="assets\Images\code-is-poetry (1).jpg" alt="Imagen ">
                <h3>TITULO XD</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi labore, asperiores delectus illo, fugiat alias provident error dolorum harum nobis sit numquam eveniet, eos quos molestias vel ratione id reiciendis?</p>
            </div>

            <div class="container-educ">
                <img class="imagen img-1" src="assets\Images\code-is-poetry (1).jpg" alt="Imagen ">
                <h3>TITULO XDD</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi labore, asperiores delectus illo, fugiat alias provident error dolorum harum nobis sit numquam eveniet, eos quos molestias vel ratione id reiciendis?</p>
            </div>
            

            <div class="container-educ">
                <img class="imagen img-1" src="assets\Images\code-is-poetry (1).jpg" alt="Imagen ">
                <h3>TITULO XDDD</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi labore, asperiores delectus illo, fugiat alias provident error dolorum harum nobis sit numquam eveniet, eos quos molestias vel ratione id reiciendis?</p>
            </div>
            
            
            <div class="container-educ">
                <img class="imagen img-1" src="assets\Images\code-is-poetry (1).jpg" alt="Imagen ">
                <h3>TITULO XDDDD</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi labore, asperiores delectus illo, fugiat alias provident error dolorum harum nobis sit numquam eveniet, eos quos molestias vel ratione id reiciendis?</p>
            </div>
            
            

        </div>
    </div>
</body>
