<body>
    <div class="container-body">
        <div class="container-education">

            <div class="education-titulo">
                <h2>EDUCACION</h2>
            </div>
            
            <app-xp-card class="app" [dato]="card" *ngFor="let card of cards;">

                <button class="button-edit" type= button role="button">
                    <img class="img-edit" src="assets\Icons\icons\pencil-fill.svg" alt="Boton de edicion" >
                </button>

            </app-xp-card>
            

        </div>
    </div>
</body>
