body{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;

}
.app{
    position: relative;
}

.container-body{

    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;

    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    margin-top: 10px;

    width: 88%;

    border-radius: 10px;
    background-color: rgb(131, 131, 131);
    background-image: linear-gradient(55deg, #314787 0, #003a81 50%, #002e7b 100%);
    color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    
}

.container-proyectos{
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin-bottom: 15px;
    
    align-content: center;
    justify-content: center;
    
    width: 100%;
}


.proyects-title{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-area: 1/1/2/2;

    border-bottom: 1px solid antiquewhite;

    margin-left: 60px;
 
    
}
