body{
    
    height: 220px;
    display: grid;
    justify-items: center;
    align-items: center;
    
}

.skill{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 15px;
    height: 180px;
    width: 180px;

}

.outer{
    
    display: grid;
    align-items: center;
    justify-items: center;
   
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.7),
                6px 6px 10px 1px rgb(0,0,0,0.15);
             

}

.inner{
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    /*bottom: 130px;*/
    background-color: white;

    box-shadow: 
    inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.1),
                0px 12px 10px -10px rgba(0,0,0,0.05);
                
    
    border-radius: 50%;
    height: 142px;
    width: 142px;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472; /*completo 472*/
    stroke-dashoffset: 0;

}

svg{
    position: absolute;
    margin:0;
    
}


.text{
    margin-top: 15px;
    display: block;
}