<body>
    <div class="container-body">

        <div class="container-skills">

            <!-- H2 / H3-->
            <div class="container-hs-skills">

                <div class="skills-title">
                    <h2>HARD - SOFT SKILLS</h2>
                </div>

                <div class="graphic graphic-1">
                    <img class="skill-img" src="assets\Icons\icons\airplane-engines.svg" alt="Grafico skills">
                </div>

                <div class="graphic graphic-2">
                    <img class="skill-img" src="assets\Icons\icons\airplane-engines.svg" alt="Grafico skills">
                </div>

                <div class="graphic graphic-3">
                    <img class="skill-img" src="assets\Icons\icons\airplane-engines.svg" alt="Grafico skills">
                </div>

                <div class="graphic graphic-4">
                    <img class="skill-img" src="assets\Icons\icons\airplane-engines.svg" alt="Grafico skills">
                </div>

                <div class="graphic graphic-5">
                    <img class="skill-img" src="assets\Icons\icons\airplane-engines.svg" alt="Grafico skills">
                </div>

                <div class="graphic graphic-6">
                    <img class="skill-img" src="assets\Icons\icons\airplane-engines.svg" alt="Grafico skills">
                </div>

                <div class="graphic graphic-7">
                    <img class="skill-img" src="assets\Icons\icons\airplane-engines.svg" alt="Grafico skills">
                </div>

                <div class="graphic graphic-8">
                    <img class="skill-img" src="assets\Icons\icons\airplane-engines.svg" alt="Grafico skills">
                </div>
                
            </div>


            <div class="container-idioms">

                <div class="idioms-title">
                    <h2>IDIOMAS</h2>
                </div>

                <div class="graphic">
                     <img class="idioms-img"  src="assets\Icons\icons\meta.svg" alt="Grafico idiomas">
                </div>
                
                <div class="graphic">
                     <img class="idioms-img" src="assets\Icons\icons\meta.svg" alt="Grafico idiomas">
                </div>

            </div>


            <div class="container-lenguajes">

                <div class="lenguaje-title">
                    <h2>LENGUAJES</h2>
                </div>

                <div class="graphic"> <!--HTML/CSS-->
                     <img class="lenguaje-img"  src="assets\Icons\icons\lightning-charge.svg" alt="Grafico idiomas">
                </div>

                <div class="graphic"> <!--JAVA-->
                    <img class="lenguaje-img"  src="assets\Icons\icons\lightning-charge.svg" alt="Grafico idiomas">
               </div>


                <div class="graphic"> <!--PYTHON-->
                    <img class="lenguaje-img"  src="assets\Icons\icons\lightning-charge.svg" alt="Grafico idiomas">
               </div>



            </div>
            

        </div>
    </div>
</body>

