<body>
    <div class="container-body">
        <div class="container-skills">

            <!-- H2 / H3-->
            <div class="container-hs-skills">
                <div class="title">
                    <h2>HARD - SOFT SKILLS</h2>
                </div>
                <app-circular-graphs [data]="skill" *ngFor="let skill of skills"></app-circular-graphs>
            </div>

            <div class="container-idioms">
                <div class="title">
                    <h2>IDIOMAS</h2>
                </div>
                <app-circular-graphs [data]="idiom" *ngFor="let idiom of idioms"></app-circular-graphs>
            </div>

            <div class="container-lenguajes">
                <div class="title">
                    <h2>LENGUAJES</h2>
                </div>
                <app-circular-graphs [data]="language" *ngFor="let language of languages"></app-circular-graphs>



            </div>
            

        </div>
    </div>
</body>

